# ISE224: Lab2
---
Topics:
- **Variables**
- **Input from keyboard**
- **Basic Calculation**
---

### Variable
- Use *assigment statement*, `variable = value`,to create a variable and make it reference data 
- Show/Call the data assigned to variable
- varialbe types: `int`, `float`, `str`
- Using `type()` to check the variable type

In [1]:
# Create a variable named Year and assign a value 2024
Year = 2024
# Show/Call the variable Year
Year # you can see the value showing in the screen at interaction mode but there is no return at script mode
print(Year) # show in screen

2024

In [2]:
# Create a variable: year and assign your birth year
year = 2000.00

In [3]:
# Calculate age and assign this value to a variable Age
Age = Year - year

In [4]:
# show Age in screen
print("My age is ", Age)

My age is  24.0

In [5]:
# Calcuate your age at 2050 and assign it to the variable Age again
Age = 2050 - year

In [6]:
# show the result
print("I will be", int(Age), "at 2050.") # change the data type of Age

I will be 50 at 2050.

In [7]:
print("I will be", Age, "at 2050.")      # Why?

I will be 50.0 at 2050.

In [8]:
# Check the type of variable
type(Year)
type(year)
type(Age)
print("The variable type of Year is", type(Year))
print("The variable type of year is", type(year))
print("Tye variable type of Age is", type(year))

The variable type of Year is <class 'int'>
The variable type of year is <class 'float'>
Tye variable type of Age is <class 'float'>

In [9]:
# Change variable type
Year = int(Year)
year = int(year)
Age = int(Age)
print("The variable type of Year is", type(Year))
print("The variable type of year is", type(year))
print("Tye variable type of Age is", type(year))

The variable type of Year is <class 'int'>
The variable type of year is <class 'int'>
Tye variable type of Age is <class 'int'>

In [10]:
# Show different items at the same time (Show it with different delimiter)
print(Year,year,Age)

2024 2000 50

In [11]:
print(Year,year,Age,sep="")

2024200050

In [12]:
print(Year,year,Age,end=" ")

2024 2000 50

In [13]:
print(Year,year,Age,sep="~")

2024~2000~50

In [14]:
print(Year,year,Age,sep="*")

2024*2000*50

In [15]:
print(Year,year,Age,sep="\t") # separate by <tab>

2024	2000	50

In [16]:
print(Year,year,Age,sep="\n") # separate by changing a line

2024
2000
50

In [17]:
schoolName="University of Miami"
depName="Industrial and System Engineering"
print("I am a student of ",depName,", ",schoolName,sep="")

I am a student of Industrial and System Engineering, University of Miami

In [18]:
type(schoolName) # also check what is the data type of depName yourself

str

---
### Input From Keyboard
- Use `input()` to get the input from keyboard: `variable = input(prompt)`
- Assign **data type** to input data

In [19]:
# Get the user's first name. 
first_name = input('Enter your first name: ')

Enter your first name: John

In [20]:
# Get the user's last name. 
last_name = input('Enter your last name: ')

Enter your last name: Geisinger

In [21]:
myname = first_name +' '+ last_name
print(myname)

John Geisinger

In [22]:
# Input your birth year from keyboard and assign it to variable year
year = input("Enter your birth year:")

Enter your birth year:2000

In [23]:
# Input a selected year from keyboard and assign it to variable Year
Year = input("Enter a year:")

Enter a year:2032

In [24]:
Age = Year - year

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
type(Year)

str

In [26]:
type(year)

str

In [27]:
# Solution: change the data type
Year = int(Year)
year = int(year)
Age = Year - year
print("Year =",Year,"\n","year =",year,"\n","Age =", Age)

Year = 2032
 year = 2000
 Age = 32

In [28]:
# Solution2: assigne the data type when inputting the information
Year = int(input("Enter a year:"))
year = int(input("Enter your birth year:"))
Age = Year - year
print("I am ", Age, "-year old when ",Year, sep="")

Enter a year:2032
Enter your birth year:2000
I am 32-year old when 2032

In [29]:
print("I am ",
     Age, 
      "-year old when ",
      Year, sep="")

I am 32-year old when 2032

In [30]:
print("I am "+ Age + "-year old when "+Year)

TypeError: can only concatenate str (not "int") to str

In [31]:
print("I am "+ str(Age) + "-year old when "+ str(Year))

I am 32-year old when 2032

---
### Calculation

|operator  |Name            |Example    |
|----------|----------------|-----------|
|+         | Addition       | x+y       |
|-         | Subtraction    | x-y       |
|*         | Multiplication | x*y       |
|/         | Division       | x/y       |
|%         | Modulus        | x%y       |
|**        | Exponentiation | x**y      |
|//        | Floor division | x//y      |

In [32]:
x = 5
y = 3
# Addition
print(x + y)

8

In [33]:
# Subtraction
print(x - y)

2

In [34]:
# Multiplication
print(x*y)

15

In [35]:
# Division
print(x/y)

1.6666666666666667

In [36]:
# Modulus
print(x%y)

2

In [37]:
# Exponentiation
print(x ** y)

125

In [38]:
# Floor division
print(x//y)

1

---
#### Using math module
There are some widely used math functions, such as square root, log, which are not defined in the basic arithmetic operators, are established by other people and are packed in a module.
Now, we can import this `math` module and then use those pre-build math functions in our code.
- You have to import the module into RAM first:`import module`. Once you import the module into RAM, you can start to use it.
- Use `module.function()` to use the predefined functions in the module

In [39]:
import math
math.sqrt(x)

2.23606797749979

In [40]:
# e^3
math.exp(3)

20.085536923187668

In [41]:
math.exp(1) ** 3

20.085536923187664

In [42]:
# log10(100)
math.log10(100)

2.0

In [43]:
# log(e^2)
m=math.exp(2)
math.log(m)

2.0

---
#### Exercise 1.
Print your laptop's brand, and operation system in two lines

--- 
#### Exercise 2.
Print your laptop's brand, and operation system in two lines with `input()`

---  
#### Exercise 3.
Print your laptop's brand, and operation system with `input()` function, and connect them in to a sentence.

*The input example*  
Apple  
MacOS

*The expected output*  
My laptop is Apple, which is a MacOS system.

---   
#### Exercise 4.
Write a program to calculate salary.  
- Enter the working hours using `input()`  
- Enter the pay rate using `input()`
- total salary is __working hours*pay rate__
- Print the total salary as "The total salary is <total salary>!"

*The input example*  
Working hours: 20  
Pay Rate: 10  
    
*The expected Output*  
The total salary is 200

---   
#### Exercise 5.
Write a program that asks the user for the number of males and the number of females registered in a class. The program should display the percentage of males and females in the class.

*The input example*
How many females: 12  
How many males: 8  

*The expected Output*
The percentage of female is 0.6, and the percentage of male is 0.4.